name: Build Tauri App

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    steps:
      - name: Update System and Install Dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm base-devel git wget curl \
            webkit2gtk-4.1 \
            openssl \
            appmenu-gtk-module \
            gtk3 \
            libappindicator-gtk3 \
            librsvg \
            rust \
            nodejs \
            npm
          
          # Install pnpm
          npm install -g pnpm

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pnpm install

      - name: Build Tauri App
        run: |
          cd apps/tauri-app
          pnpm tauri build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-tauri-app
          path: |
            apps/tauri-app/src-tauri/target/release/bundle/deb/*.deb
            apps/tauri-app/src-tauri/target/release/bundle/appimage/*.AppImage
